<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HPGL2GCODE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <HPGL2GCODE.My.MySettings>
            <setting name="StartCode" serializeAs="String">
                <value>G21\n</value>
            </setting>
            <setting name="EndCode" serializeAs="String">
                <value>G28 X\n</value>
            </setting>
            <setting name="TravelSpeed" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PlotSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PenUp" serializeAs="String">
                <value>1</value>
            </setting>
        </HPGL2GCODE.My.MySettings>
    </userSettings>
</configuration>